---
---

<section id="contact" class="contact bg-less-dark">
    <div class="wrapper contact__wrapper bottom-border">
        <div class="contact__text">
            <h2 class="contact__headline header-xl">Contact</h2>
            <p class="contact__description">
                I would love to hear about your project and how I could help.
                Please fill in the form, and I'll get back to you as soon as
                possible.
            </p>
        </div>
        <form action="" class="contact__form">
            <div class="contact__control">
                <label for="name" class="visually-hidden">Name</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required
                />
                <img
                    src="/images/icon-invalid.svg"
                    alt=""
                    class="contact__invalid-icon"
                    width="24"
                    height="24"
                />
            </div>
            <div class="contact__control">
                <label for="email" class="visually-hidden">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                />
                <img
                    src="/images/icon-invalid.svg"
                    alt=""
                    class="contact__invalid-icon"
                    width="24"
                    height="24"
                />
            </div>
            <div class="contact__control">
                <label for="message" class="visually-hidden">Message</label>
                <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="3"
                    placeholder="Message"
                    required></textarea>
                <img
                    src="/images/icon-invalid.svg"
                    alt=""
                    class="contact__invalid-icon"
                    width="24"
                    height="24"
                />
            </div>
            <div class="contact__control align-right">
                <button type="submit">Send Message</button>
            </div>
        </form>
    </div>
    <img
        class="contact__rings"
        src="/images/pattern-rings.svg"
        alt=""
        width="530"
        height="129"
    />
</section>

<style>
    /* CONTACT */

    .contact {
        position: relative;
    }

    .contact__wrapper {
        padding-block: 84px;
    }

    .contact__headline {
        margin-block-end: var(--fs-20);
    }

    .contact__control {
        position: relative;
        margin-block-end: 16px;
    }

    .contact__control input,
    .contact__control textarea {
        width: 100%;
        padding-block: 16px;
        padding-inline: 24px;
        border: none;
        border-bottom: 1px solid var(--text1);
        background: transparent;
        font-size: 1rem;
        line-height: 1.625;
        color: var(--text1);
    }

    .contact__control > *::placeholder {
        color: var(--text1);
        opacity: 0.5;
        text-transform: uppercase;
    }

    .contact__control textarea {
        margin-block-end: 32px;
    }

    .contact__control.align-right {
        display: flex;
        justify-content: flex-end;
    }

    .contact__control button {
        background-color: transparent;
        border: none;
    }

    .contact__invalid-icon {
        display: none;
        width: var(--fs-24);
        height: var(--fs-24);
        position: absolute;
        top: 50%;
        right: 0;
        translate: -50% -50%;
    }

    .contact input:focus-visible:invalid ~ .contact__invalid-icon,
    .contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
        display: inline-block;
    }

    .contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
        top: 1.2rem;
        right: 1.5rem;
        translate: none;
    }

    .contact__rings {
        position: absolute;
        left: 0;
        bottom: 97px;
        translate: -75%;
    }

    @media (min-width: 37.5em) {
        .contact__rings {
            bottom: 47px;
            translate: -75%;
        }
    }

    @media (min-width: 62.5em) {
        .contact__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 27.8rem);
            justify-content: space-between;
        }

        .contact__headline {
            margin-block-end: var(--fs-36);
        }

        .contact__rings {
            translate: -40%;
        }
    }

    /* 999.98px */
    @media (max-width: 62.49875em) {
        .contact__wrapper {
            max-width: 27.8rem;
        }

        .contact__text {
            text-align: center;
        }
    }
</style>
