---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div id="NotFound" class="flex justify-center items-center flex-col h-full">
    <h1 class="text-7xl font-bold">404</h1>
    <p>We got a problem here :)</p>
    <a href="/" class="mt-5 py-2 px-5 border rounded">Lets get back to safety</a
    >
  </div>
</Layout>
