---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Skills from "@/sections/Skills.astro";
import Projects from "@/sections/Projects.astro";
import Contact from "@/sections/Contact.astro";
 
 
---

<Layout>
  <div id="home">
    <Hero />

    <Skills />

    <Projects />

    <Contact  />
  </div>
</Layout>


 