---
import { contactDesc } from "@/data";
import Input from "@/components/form/Input.astro";
import TextArea from "@/components/form/TextArea.astro"
---

<section id="contact" class="  relative bg-slate-800">
    <div class="wrapper   lg:grid lg:grid-cols-[repeat(2,27.8rem)] lg:justify-between   py-[84px] bottom-border">
        <div class="text-center lg:text-left">
            <h2 class="lg:mb-9 mb-5 header-xl">Contact</h2>
            <p class=" ">
                {contactDesc}
            </p>
        </div>
        <form action="" class="contact-form">
            <Input  label="Name"    type="text"
            id="name"
            name="name"
            placeholder="Name"
            required />

            <Input label="Email"    type="email"
            id="email"
            name="email"
            placeholder="Email"
            required/>

          <TextArea  label="Message" name="message"
          id="message"
          cols="30"
          rows="3"
          placeholder="Message"
          required />
             
            <div class=" flex justify-center lg:justify-end">
                <button type="submit" class="bg-transparent border-none">Send Message</button>
            </div>
        </form>
    </div>

    <svg  class=" rings absolute left-0 bottom-[97px] -translate-x-[75%] -translate-y-[75%] sm:bottom-[47px] lg:-translate-x-[40%] lg:-translate-y-[20%] " xmlns="http://www.w3.org/2000/svg" width="530" height="129"><g fill="none" fill-rule="evenodd" stroke="#FFF" opacity=".25"><ellipse cx="265" cy="40" rx="264.5" ry="39.5"/><ellipse cx="265" cy="52" rx="264.5" ry="39.5"/><ellipse cx="265" cy="65" rx="264.5" ry="39.5"/><ellipse cx="265" cy="77" rx="264.5" ry="39.5"/><ellipse cx="265" cy="89" rx="264.5" ry="39.5"/></g></svg>
</section>
 