---
import { skills } from "@/data";
---

<section class="skills relative overflow-x-hidden    ">
    <div class="wrapper   grid grid-cols-1 py-10 gap-6 bottom-border sm:grid-cols-2 sm:gap-y-[52px] sm:gap-x-6 sm:border-0 sm:pt-[52px] lg:grid-cols-3 lg:gap-y-[58px] lg:gap-x-[30px]">
        <h2 class="visually-hidden">Skills</h2>
       

        {skills.map(skill => (<div class="skill text-center sm:text-left">
            <h3 class="  leading-[1.17] text-[clamp(2rem,0.3rem+7vw,3rem)] mb-0.5">{skill.title}</h3>
            <p class=" ">{new Date().getFullYear() - skill.startYear} Years Experience</p>
        </div>))}
    </div>
  

    <svg 
    class="  absolute bottom-0 left-1/2  translate-y-1/2  sm:translate-x-[40%]  lg:-translate-x-[40%] lg:left-full " xmlns="http://www.w3.org/2000/svg" width="530" height="129"><g fill="none" fill-rule="evenodd" stroke="#FFF" opacity=".25"><ellipse cx="265" cy="40" rx="264.5" ry="39.5"/><ellipse cx="265" cy="52" rx="264.5" ry="39.5"/><ellipse cx="265" cy="65" rx="264.5" ry="39.5"/><ellipse cx="265" cy="77" rx="264.5" ry="39.5"/><ellipse cx="265" cy="89" rx="264.5" ry="39.5"/></g></svg>
</section>

 