---
import { skills } from "@/data";
---

<section class="skills relative overflow-x-hidden    ">
    <div class="wrapper  skills__wrapper grid grid-cols-1 py-10 gap-6 bottom-border sm:grid-cols-2 sm:gap-y-[52px] sm:gap-x-6 sm:border-0 sm:pt-[52px] lg:grid-cols-3 lg:gap-y-[58px] lg:gap-x-[30px]">
        <h2 class="visually-hidden">Skills</h2>
       

        {skills.map(skill => (<div class="skills__item text-center sm:text-left">
            <h3 class="skills__title leading-[1.17] text-[clamp(2rem,0.33rem+7.11vw,3rem)] mb-0.5">{skill.title}</h3>
            <p class="skills__description">{new Date().getFullYear() - skill.startYear} Years Experience</p>
        </div>))}
    </div>
    <img
        class="skills__rings absolute bottom-0 left-1/2  translate-y-1/2  sm:translate-x-[40%]  lg:-translate-x-[40%] lg:left-full "
        src="/images/pattern-rings.svg"
        alt=""
        width="530"
        height="129"
    />
</section>

<style>
    
</style>
