---
import { setDescription, setTitle } from "@/utils";
import Navbar from "@/components/nav/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { SEO } from "astro-seo";
import type { Props as IAstroSEO } from "astro-seo";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
interface Props extends IAstroSEO {}
const { title = "", description = "", ...props } = Astro.props;
import "@/style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo/logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={setTitle(title)}
      description={setDescription(description)}
      {...props}
    />

    <slot name="head" />
  </head>
  <body
    class="bg-gradient-to-br h-full flex flex-col min-h-full from-slate-900 to-neutral-900"
  >
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      html {
        height: 100%;
      }
    </style>
  </body>
</html>
